<div class="container__big-card">
    <div class="big-card__photo">
      <img
      src="https://media.licdn.com/dms/image/D4E12AQGx_XxlH8rHLw/article-cover_image-shrink_423_752/0/1699328092463?e=1712793600&v=beta&t=QQpri70Jc2-U5AKa7oPpBPfE0D9npppYI02e86AgW7Y"
      alt="">
    </div>
    <div class="big-card__title">
      <h1><a href="#">Saiu nova versao do angular 17v</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quasi mollitia laborum impedit quisquam, odio dolore corporis possimus delectus, nihil, accusantium sapiente. Sapiente laborum, dolore nihil ullam nesciunt laudantium. Exercitationem!
        </a>
      </p>
    </div>
</div>
