<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://media.licdn.com/dms/image/D4D12AQGg7hLkz8wD5g/article-cover_image-shrink_720_1280/0/1699876138090?e=2147483647&v=beta&t=JHm5-cXmv-EBQB9xenJhdK_QJKWXTccvrcO571oK2IQ"
      cardTitle="Angular mudou seu design" cardDescription="De uma forma que você nunca viu"></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
    Id="2"
    photoCover="https://infopunch.files.wordpress.com/2013/07/linux_pingwin_041.jpg?w=640"
      cardTitle="Linux acha um windows um comedia"></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://e1.pxfuel.com/desktop-wallpaper/771/550/desktop-wallpaper-linux-3d-for-windows-xp-thumbnail.jpg"
      cardTitle="Linux acha um windows um comedia"></app-small-card>
  <app-small-card
      Id="4"
      photoCover="https://media.licdn.com/dms/image/C4D22AQE1o426uQk4cQ/feedshare-shrink_800/0/1637768722950?e=2147483647&v=beta&t=MaPZEGljnG5kNuNFWbag9JvlWFEOdIzInDsbqKpJcaQ"
      cardTitle="Linux acha um windows um comedia"></app-small-card>

  </div>
</div>
<h2 style="max-width: 1100px;margin: auto;margin-bottom: 4px;">Novidades</h2>
<hr style="opacity: 0.2;">
<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card></app-small-card>
  </div>
</div>
