.container__articles {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1139px){
  .articles_others {
    margin-top: -150px;
  }
}
