.container__articles {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}



@media screen and (max-width: 1139px){
  .articles_others {
    margin-top: -150px;
  }
}
